<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="cs" lang="cs">
<head>
<title>Cryptomining Attack Prediction</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link href="../static/screen.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>
<body>
<div id="layout">
  <div id="header">
    <h1 id="logo"><a href="http://all-free-download.com/free-website-templates/">CryptominingAttackPrediction</a></h1>
    <span id="slogan">Machine Learning </span>
    <hr class="noscreen" />
    <p class="noscreen noprint"> <em>Rychlá navigace: <a href="http://all-free-download.com/free-website-templates/">obsah</a>, <a href="http://all-free-download.com/free-website-templates/">navigace</a>.</em></p>
   
  </div>
  <hr class="noscreen" />
  <div id="nav" class="box">
    <ul>
      <li id="active"><a href="{{ url_for('homepage')}}">Home</a></li>
      <li><a href="{{ url_for('prediction')}}">Prediction</a></li>
      <li><a href="{{ url_for('graph')}}">PerformanceGraph</a></li>
      <li></li>
    </ul>
    <hr class="noscreen" />
  </div>
  <div id="container" class="box">
    <div id="obsah" class="content box">
      <div class="in">
        <div id="new-article">
          <div id="corner">
            <h2><a href="http://all-free-download.com/free-website-templates/">Cryptomining Attack Prediction</a><img src="../static/img/cryptominingattack.jpg" alt="" width="700" height="463" /></h2>
            <div class="clear"></div>
          </div>
        </div>
        <div class="article"></div>
        <div class="article"></div>
        <div class="article"></div>
        <div class="article"></div>
        </div>
    </div>
    <div id="panel-right" class="box panel">
      <div id="bottom">
        <div class="in"><strong class="title">Categories</strong>
          <ul>
            <li><a href="{{ url_for('dataset')}}">Dataset</a></li>
            <li><a href="{{ url_for('preprocessing')}}">Preprocessing</a></li>
            <li><a href="{{ url_for('naivebayes')}}">Naive Bayes Classifier </a></li>
            <li><a href="{{ url_for('knn')}}">KNN Classifier </a></li>
            <li><a href="{{ url_for('baggingtree')}}">Bagging tree Classifier </a></li>
            <li><a href="{{ url_for('graph')}}">Performance Graph </a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="footer">
  <div id="foot">
    <div id="page-bottom"></div>
    <p class="f-left">&nbsp;</p>
    <p class="f-right">:</p>
  </div>
</div>
<div align=center></div>
</body>
</html>
